#Ignore Large bundle files
vim/bundle
vim/backup
vim/swapfiles
vim/undo
vim/private.vim


#Ignore sub git repos
**/.git


#Ignore DS.Store files
**/.DS_Store
.DS_Store
tmux/history.tmux
vim/bundle/Vundle.vim/autoload/.DS_Store
vim/bundle/Vundle.vim/test/.DS_Store
vim/bundle/Vundle.vim/test/.DS_Store
tmux/history.tmux
